# PROJECT AKHIR KECERDASAN BUATAN B1 2020

### Kelompok 2:

2009106067 Mar'atus Sholeha

2009106064 Krisdayanti

2009106058 Rista Safitri

### Import Library yang Dibutuhkan

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import string
import re
import matplotlib.pyplot as plt

# Data Collecting

### Import Dataset

In [2]:
dataset = pd.read_csv("dataset_youtube.csv")
dataset

,Video Name,Channel Name,Comment Id,User Name,Comment,Date,Likes,Category Comment
0,Luis Fonsi - Despacito ft. Daddy Yankee,LuisFonsiVEVO,UgwV0tapZzaFxdYm1z14AaABAg,GAMIT yuvraj,The people who liked this comment is officiall...,2020-08-10T20:00:43Z,98280,neutral
1,Luis Fonsi - Despacito ft. Daddy Yankee,LuisFonsiVEVO,UgzXUsI6yrRjTKNASf94AaABAg,Srivathsa D,Let's be honest this wasn't your recommendatio...,2020-09-09T03:41:34Z,13,neutral
2,Luis Fonsi - Despacito ft. Daddy Yankee,LuisFonsiVEVO,UgzryH8U6Dz_yBmIgEZ4AaABAg,LR ICED WOLF,3.2 Million comments if you find mine your a l...,2020-03-15T21:11:08Z,370547,positive
3,Luis Fonsi - Despacito ft. Daddy Yankee,LuisFonsiVEVO,Ugw61yKNdyVJ5T4R_sN4AaABAg,MemeDille,The ones who are NOT from Tik-Tok can like thi...,2020-09-08T08:44:47Z,94,negative
4,Luis Fonsi - Despacito ft. Daddy Yankee,LuisFonsiVEVO,UgxcqxyEw2jU7KvhofV4AaABAg,cruisendude,The first viewer must feel like the king of th...,2020-08-21T23:15:01Z,36446,positive
...,...,...,...,...,...,...,...,...
1494,Chris Brown - Loyal (Official Video) ft. Lil W...,ChrisBrownVEVO,Ugx0v_kwt_OjHumTf314AaABAg,TheNastyMan 420,Good job chris on the 1 bil. I knew this song ...,2020-09-06T02:21:45Z,7,positive
1495,Chris Brown - Loyal (Official Video) ft. Lil W...,ChrisBrownVEVO,UgzmGOdpkEGRQmGDoyd4AaABAg,Yuvraj Sahota,Lets see whos here from september to december ...,2020-09-03T22:12:07Z,2,positive
1496,Chris Brown - Loyal (Official Video) ft. Lil W...,ChrisBrownVEVO,UgyZwUKM_fkKAA2S9IZ4AaABAg,Rod Reactz,1 billion views this song is so underrated,2020-09-08T15:14:08Z,1,neutral
1497,Chris Brown - Loyal (Official Video) ft. Lil W...,ChrisBrownVEVO,UgyOHVIZqvR3WfqErRJ4AaABAg,Zawad Hossain,"As soon as this hits 1 Billi, everyone go to C...",2020-08-25T17:31:20Z,208,positive
1498,Chris Brown - Loyal (Official Video) ft. Lil W...,ChrisBrownVEVO,UgzhI2cDcIJfqichEZB4AaABAg,Margaret Nyaga,The best second to Michael Jackson you deserve...,2020-08-22T18:35:13Z,3378,positive

# PREPROCCESING

### Menampilkan dataset berdasarkan kolom comment & category comment

In [3]:
dataset = pd.DataFrame(dataset[['Comment','Category Comment']])
dataset

                                                Comment Category Comment
0     The people who liked this comment is officiall...          neutral
1     Let's be honest this wasn't your recommendatio...          neutral
2     3.2 Million comments if you find mine your a l...         positive
3     The ones who are NOT from Tik-Tok can like thi...         negative
4     The first viewer must feel like the king of th...         positive
...                                                 ...              ...
1494  Good job chris on the 1 bil. I knew this song ...         positive
1495  Lets see whos here from september to december ...         positive
1496         1 billion views this song is so underrated          neutral
1497  As soon as this hits 1 Billi, everyone go to C...         positive
1498  The best second to Michael Jackson you deserve...         positive

[1499 rows x 2 columns]

### Menghapus beberapa karakter yang ada di dalam comment

In [4]:
dataset['Comment'] = dataset['Comment'].str.replace('(@\w+.*?)',"")
dataset['Comment'] = dataset['Comment'].str.replace('(#\w+.*?)',"")
dataset['Comment'] = dataset['Comment'].str.replace('(&\w+.*?)',"")
dataset['Comment'] = dataset['Comment'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ')
dataset['Comment'] = dataset['Comment'].str.replace(r"[\"\'\|\?\=\.\@\#\*\,]", '')
dataset['Comment'] = dataset['Comment'].str.replace(r"[0-9]", '')
dataset['Comment'] = dataset['Comment'].str.replace(r'  ', ' ')
dataset['Comment'] = dataset['Comment'].str.replace(r'   ', ' ')
dataset['Comment'] = dataset['Comment'].str.replace(r"[\,\+\_\-\:\!\%\;\/\\]", ' ')

C:\Users\USER\AppData\Local\Temp\ipykernel_9104\1461539364.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset['Comment'] = dataset['Comment'].str.replace('(@\w+.*?)',"")
C:\Users\USER\AppData\Local\Temp\ipykernel_9104\1461539364.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset['Comment'] = dataset['Comment'].str.replace('(#\w+.*?)',"")
C:\Users\USER\AppData\Local\Temp\ipykernel_9104\1461539364.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset['Comment'] = dataset['Comment'].str.replace('(&\w+.*?)',"")
C:\Users\USER\AppData\Local\Temp\ipykernel_9104\1461539364.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset['Comment'] = dataset['Comment'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', ' ')
C:\Users\USER\AppData\Local\Temp\ipykernel_9104\1461539364.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset['Comment'] = dataset['Comment'].str.replace(r"[\"\'\|\?\=\.\@\#\*\,]", '')
C:\Users\USER\AppData\Local\Temp\ipykernel_9104\1461539364.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset['Comment'] = dataset['Comment'].str.replace(r"[0-9]", '')
C:\Users\USER\AppData\Local\Temp\ipykernel_9104\1461539364.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset['Comment'] = dataset['Comment'].str.replace(r"[\,\+\_\-\:\!\%\;\/\\]", ' ')

### Menghapus single character

In [5]:
def remove_singl_char(teks):
    return re.sub(r"\b[a-zA-Z]\b", "", teks)

dataset['Comment'] = dataset['Comment'].apply(remove_singl_char)

### Menghapus indentasi (:) pada kolom Comment di dataset

In [6]:
def remove_whitespace_LT(teks):
    return teks.strip()

dataset['Comment'] = dataset['Comment'].apply(remove_whitespace_LT)

### Menghapus spasi double

In [11]:
def remove_whitespace_multiple(teks):
    return re.sub('\s+',' ',teks)

dataset['Comment'] = dataset['Comment'].apply(remove_whitespace_multiple)

### Menghapus tanda baca pada kolom Comment dataset

In [12]:
def remove_punctuation(teks):
    return teks.translate(str.maketrans("","",string.punctuation))

dataset['Comment'] = dataset['Comment'].apply(remove_punctuation)

### Mengubah semua guruf menjadi huruf kecil

In [13]:
dataset['Comment'] = dataset['Comment'].str.lower()
dataset

                                                Comment Category Comment
0     the people who liked this comment is officiall...          neutral
1     lets be honest this wasnt your recommendation ...          neutral
2         million comments if you find mine your legend         positive
3     the ones who are not from tik tok can like thi...         negative
4     the first viewer must feel like the king of th...         positive
...                                                 ...              ...
1494  good job chris on the bil knew this song would...         positive
1495      lets see whos here from september to december         positive
1496           billion views this song is so underrated          neutral
1497  as soon as this hits billi everyone go to chri...         positive
1498  the best second to michael jackson you deserve...         positive

[1499 rows x 2 columns]

### Menghapus Comment yang mengandung akhiran titik 3 (contoh: lol...)

In [14]:
dataset_titik_ilang=[]
for i in dataset.index:
  #re.sub("[A-Za-z0-9]+\.{3}", "", df['text'][i])
  dataset_titik_ilang.append(re.sub("[A-Za-z0-9]+\*", "", dataset['Comment'][i]))

dataset['Comment'] = pd.DataFrame(dataset_titik_ilang)

### Melihat dataset seletah proses menghapus @.. dan hashtag, menghapus url, link, dan karakter spesial

In [15]:
dataset

                                                Comment Category Comment
0     the people who liked this comment is officiall...          neutral
1     lets be honest this wasnt your recommendation ...          neutral
2         million comments if you find mine your legend         positive
3     the ones who are not from tik tok can like thi...         negative
4     the first viewer must feel like the king of th...         positive
...                                                 ...              ...
1494  good job chris on the bil knew this song would...         positive
1495      lets see whos here from september to december         positive
1496           billion views this song is so underrated          neutral
1497  as soon as this hits billi everyone go to chri...         positive
1498  the best second to michael jackson you deserve...         positive

[1499 rows x 2 columns]

### Mengecek apakah di dalam dataset terdapat kolom yang bernilai null

In [16]:
dataset.isna().sum()

Comment             0
Category Comment    0
dtype: int64

### Mengecek apakah di dalam dataset terdapat data duplikat (terdapat 2 data yang sama)

In [17]:
dataset.Comment.duplicated().sum()

216

### Menampilkan  data dari dataset yang nilainya sama (merupakan duplikasi)

In [18]:
dataset.loc[dataset.Comment.duplicated(), :]

                                                Comment Category Comment
10    the people who liked this comment is officiall...          neutral
13    the people who liked this comment is officiall...          neutral
14    the people who liked this comment is officiall...          neutral
15    the people who liked this comment is officiall...          neutral
27    the people who liked this comment is officiall...          neutral
...                                                 ...              ...
1451  im surprised nintendo hasnt striked drake for ...          neutral
1452  listening to this to remember the old days whe...         positive
1453  drake is the type of person to install air con...          neutral
1477  its crazy how we are listening to these songs ...         positive
1487    years later if youre watching this youre legend         positive

[216 rows x 2 columns]

### Menghapus data duplikat di didalam dataset

In [19]:
dataset_bersih = dataset.drop_duplicates(subset=["Comment"])
dataset_bersih.reset_index(drop=True, inplace = True)

### Mengecek kembali ke dalam dataset apakah dataset yang digunakan masih memiliki data duplikat

In [20]:
dataset_bersih.Comment.duplicated().sum()

0

### Mengecek shape (baris dan kolom)

In [21]:
dataset_bersih.shape

(1283, 2)

### Import dataset baru

In [22]:
df_bersih = pd.read_csv('dataset_youtube_bersih.csv')
df_bersih

,Unnamed: 0,Comment,Category Comment
0,0,the people who liked this comment is officiall...,neutral
1,1,lets be honest this wasnt your recommendation ...,neutral
2,2,million comments if you find mine your legend,positive
3,3,the ones who are not from tik tok can like thi...,negative
4,4,the first viewer must feel like the king of th...,positive
...,...,...,...
1278,1278,good job chris on the bil knew this song would...,positive
1279,1279,lets see whos here from september to december,positive
1280,1280,billion views this song is so underrated,neutral
1281,1281,as soon as this hits billi everyone go to chri...,positive
1282,1282,the best second to michael jackson you deserve...,positive

### Menghapus kolom Unnamed: 0 yg terdapat dalam dataset

In [23]:
del df_bersih['Unnamed: 0']

### Melihat data target, label encoding, dan menjadikan nilai neutral = 0, positive = 1, & negative = 2

In [24]:
df_bersih['Target_type'] = df_bersih['Category Comment'].map({'neutral': 0, 'positive':1, 'negative': 2})
df_bersih

,Comment,Category Comment,Target_type
0,the people who liked this comment is officiall...,neutral,0
1,lets be honest this wasnt your recommendation ...,neutral,0
2,million comments if you find mine your legend,positive,1
3,the ones who are not from tik tok can like thi...,negative,2
4,the first viewer must feel like the king of th...,positive,1
...,...,...,...
1278,good job chris on the bil knew this song would...,positive,1
1279,lets see whos here from september to december,positive,1
1280,billion views this song is so underrated,neutral,0
1281,as soon as this hits billi everyone go to chri...,positive,1
1282,the best second to michael jackson you deserve...,positive,1

### Melihat jumlah data berdasarkan Category Comment

In [25]:
df_bersih['Category Comment'].value_counts()

positive    813
neutral     360
negative    110
Name: Category Comment, dtype: int64

In [26]:
#Melakukan Oversampling
df_negatif = df_bersih.loc[df_bersih['Category Comment'] == 'negative']
df_negatif_gabungan = pd.concat([df_negatif,df_negatif,df_negatif,df_negatif])
df_negatif_gabungan.reset_index(drop = True, inplace = True)
df_negatif_gabungan

,Comment,Category Comment,Target_type
0,the ones who are not from tik tok can like thi...,negative,2
1,these dislikes were people from who didnt sing...,negative,2
2,can you stop liking now the notifications gett...,negative,2
3,only people who didnt came from tik tok are wo...,negative,2
4,it has mor dislikes than de average likes of b...,negative,2
...,...,...,...
435,never really liked this song but the meme like...,negative,2
436,no nudes no drugs no alcohol just some meme ma...,negative,2
437,this sounds so weird without the wii shop musi...,negative,2
438,if you mess with me like rohan once did youre ...,negative,2
439,hate people who misspell zayn as zyan,negative,2

In [27]:
#menggabungkan data minor oversampling ke dalam dataset
data_final = pd.concat([df_bersih,df_negatif_gabungan])
data_final.reset_index(drop=True, inplace = True)
data_final

,Comment,Category Comment,Target_type
0,the people who liked this comment is officiall...,neutral,0
1,lets be honest this wasnt your recommendation ...,neutral,0
2,million comments if you find mine your legend,positive,1
3,the ones who are not from tik tok can like thi...,negative,2
4,the first viewer must feel like the king of th...,positive,1
...,...,...,...
1718,never really liked this song but the meme like...,negative,2
1719,no nudes no drugs no alcohol just some meme ma...,negative,2
1720,this sounds so weird without the wii shop musi...,negative,2
1721,if you mess with me like rohan once did youre ...,negative,2
1722,hate people who misspell zayn as zyan,negative,2

### Menyimpan dataset yang sudah dibersikhan ke dalam dataset baru

In [28]:
data_final.to_csv('dataset_bersih.csv')

### TOKENISASI

In [29]:
def token(teks):
  nstr = teks.split(" ")
  dt = []
  a = -1
  for i in nstr:
    a = a + 1
  if i == '':
    dt.append(a)
  p = 0
  b = 0
  for q in dt:
    b = q - p
    del nstr[b]
    p = p + 1
  return nstr

In [30]:
data_final['Comment'] = data_final['Comment'].apply(token)

## hapus stopwords

In [31]:
data_final

,Comment,Category Comment,Target_type
0,"[the, people, who, liked, this, comment, is, o...",neutral,0
1,"[lets, be, honest, this, wasnt, your, recommen...",neutral,0
2,"[million, comments, if, you, find, mine, your,...",positive,1
3,"[the, ones, who, are, not, from, tik, tok, can...",negative,2
4,"[the, first, viewer, must, feel, like, the, ki...",positive,1
...,...,...,...
1718,"[never, really, liked, this, song, but, the, m...",negative,2
1719,"[no, nudes, no, drugs, no, alcohol, just, some...",negative,2
1720,"[this, sounds, so, weird, without, the, wii, s...",negative,2
1721,"[if, you, mess, with, me, like, rohan, once, d...",negative,2
1722,"[hate, people, who, misspell, zayn, as, zyan]",negative,2

In [32]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

list_stopwords = stopwords.words('english')
# read txt stopword using pandas
txt_stopword = pd.read_csv("stopwords.txt", names= ["stopwords"], header = None)

# convert stopword string to list & append additional stopword
list_stopwords.extend(txt_stopword["stopwords"][0].split(' '))

# convert list to dictionary
list_stopwords = set(list_stopwords)


#remove stopword pada list token
def stopwords_removal(words):
    return [word for word in words if word not in list_stopwords]

data_final['Comment'] = data_final['Comment'].apply(stopwords_removal) 


data_final['Comment'].head(10)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0          [people, liked, comment, officially, views]
1      [lets, honest, wasnt, recommendation, searched]
2              [million, comments, find, mine, legend]
3                      [ones, tik, tok, like, comment]
4       [first, viewer, must, feel, like, king, world]
5             [imagine, many, peoples, come, everyday]
6                       [comments, find, mine, legend]
7                                 [came, check, views]
8    [imagine, many, armys, coming, every, secondsm...
9                                         [hey, mikee]
Name: Comment, dtype: object

### STEMMING

In [33]:
!pip install english-dictionary
!pip install nltk
!pip install english-word
!pip install swifter
import swifter

Requirement already satisfied: nltk in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (3.7)
Requirement already satisfied: joblib in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from nltk) (2022.10.31)
Requirement already satisfied: tqdm in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: click in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: colorama in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from click->nltk) (0.4.5)
Collecting swifter
  Using cached swifter-1.3.4.tar.gz (830 kB)
  Preparing metadata (setup.py): started

ModuleNotFoundError: No module named 'swifter'

In [ ]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [ ]:
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

In [ ]:
#create an object of class PorterStemmer
porter = PorterStemmer()

#proide a word to be stemmed
print("Porter Stemmer Testing")
print("cats \t\t:", porter.stem("cats"))
print("troble \t\t:", porter.stem("trouble"))
print("troubling \t:", porter.stem("troubling"))
print("troubled \t:", porter.stem("troubled"))

In [ ]:
# stemmed
def stemmed_wrapper(term):
    return porter.stem(term)

term_dict = {}

for document in data_final['Comment']:
    for term in document:
        if term not in term_dict:
            term_dict[term] = ' '
print(len(term_dict))
print("------------------------")
for term in term_dict:
    term_dict[term] = stemmed_wrapper(term)
    print(term,":" ,term_dict[term])
    
print(term_dict)
print("------------------------")

# apply stemmed term to dataframe
def get_stemmed_term(document):
    return [term_dict[term] for term in document]

data_final['Comment'] = data_final['Comment'].swifter.apply(get_stemmed_term)
print(data_final['Comment'])

### MODELING

In [ ]:
# library for train test split
from sklearn.model_selection import train_test_split

# deep learning libraries for text pre-processing
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

# Modeling 
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras import layers, models, regularizers,initializers
from sklearn.model_selection import StratifiedKFold 

#Confusion Matrix
from sklearn.metrics import confusion_matrix

In [ ]:
X = data_final['Comment'].values
y = data_final['Target_type'].values

In [ ]:
X

In [ ]:
y

In [ ]:
# Split data into train, val and test
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
x_train

In [ ]:
NUM_WORDS = 15000

tokenizer = Tokenizer(num_words=NUM_WORDS, split=' ')
tokenizer.fit_on_texts(x_train)

In [ ]:
x_train_token = tokenizer.texts_to_sequences(x_train)
x_test_token = tokenizer.texts_to_sequences(x_test)

In [ ]:
MAXLEN = 250

x_train_padding = pad_sequences(x_train_token, maxlen=MAXLEN, padding='pre', truncating='post')
x_test_padding = pad_sequences(x_test_token, maxlen=MAXLEN, padding='pre', truncating='post')

In [ ]:
# Defining parameters
max_len = 80
trunc_type = "post" # 80 Kata Pertama.. "pre" -> 80 Kata Terakhir
padding_type = "post" 
oov_tok = "" 
vocab_size = 14202 #jumlah maksimum kata yang disimpan

# embedding_dim = 16
# drop_value = 0.2

In [ ]:
tokenizer = Tokenizer(num_words = vocab_size, char_level = False, oov_token = oov_tok)
tokenizer.fit_on_texts(x_train)

In [ ]:
# Get the word_index by using tokenizer
word_index = tokenizer.word_index
word_index

In [ ]:
from keras.models import Sequential
from keras.layers import LSTM, Dense, Embedding

In [ ]:
class MyCallback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs={}):
    if(logs.get('val_accuracy')>0.9):
      print("\nAkurasi validasi telah mencapai >90%!")
      self.model.stop_training = True
callbacks = MyCallback()

In [ ]:
model = Sequential([
    Embedding(input_dim=NUM_WORDS, input_length=MAXLEN, output_dim=16),
    tf.keras.layers.Bidirectional(LSTM(64, return_sequences=True)),
    tf.keras.layers.Bidirectional(LSTM(32)),
#     Dense(16, activation='relu'),
#     tf.keras.layers.Dropout(0.2),
    Dense(3, activation='softmax')
])

model.summary()

In [ ]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor='val_accuracy', 
    verbose=1,
    patience=10,
    mode='max',
    restore_best_weights=True)

In [ ]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
EPOCHS = 15
BATCH_SIZE = 32

history = model.fit(x_train_padding,
                    y_train,
                    epochs=EPOCHS,
                    batch_size=BATCH_SIZE,
                    validation_data=(x_test_padding, y_test),
                    verbose=2,
                    callbacks=[callbacks, early_stopping])

In [ ]:
def plot_graphs(history, string):
    plt.plot(history.history[string])
    plt.plot(history.history['val_'+string])
    plt.xlabel("Epochs")
    plt.ylabel(string)
    plt.legend([string, 'val_'+string])
    plt.show()

In [ ]:
plot_graphs(history, 'accuracy')
plot_graphs(history, 'loss')